@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

:root {
    height: 100vh;
    width: 100vw;
}

#root {
    height: 100vh;
    width: 100vw;
}

html {
    @apply h-full;
    @apply w-full;
}
body {
    @apply h-full;
    @apply w-full;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    @apply bg-gray-950;
    @apply bg-opacity-10;
}

/* Handle */
::-webkit-scrollbar-thumb {
    @apply bg-sky-300;
    @apply rounded-lg;
    @apply drop-shadow-md;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    @apply bg-sky-400;
}

.recharts-line-dots {
    display: none;
}
